* {
    margin: 0;
}

nav {
    background-color: rgb(143, 143, 255);
    width: 100%;
    height: 80px;
    position: fixed;
}

.navButtons {
    background-color: rgb(143, 143, 255);
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-left: 30em;
    margin-top: 24px;
}

#navButton {
    border: 0;
    background-color: transparent;
    color:#c6c8d3;
    text-decoration: none;
}
