* {
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


/* NAV BAR */
nav {
    background-color: rgb(143, 143, 255);
    width: 100%;
    height: 80px;
    position: fixed;
}

.navButtons {
    background-color: rgb(143, 143, 255);
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
    /* margin-top: 0; */
    top: 0;
}

#navButton {
    border: 0;
    background-color: transparent;
    color: black;
    text-decoration: none;
    margin-top: 3%;
    font-size: 25px;
    margin-top: 2.5%;
}

a:hover#navButton {
    text-decoration: underline;
}

a:visited#navButton {
    color: black;
}


/* START SCREEN */
.startScreen {
    background-color: rgb(169, 169, 233);
    width: 100%;
    height: 55em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 6em;
}

.startScreen #dropdown {
    width: 80px;
    font-size: 28px;
}

.startScreen label {
    font-size: 36px;
}

#startGame {
    width: 7em;
    height: 2em;
    font-size: 28px;
}

#space {
    height: 50px;
}


/* GAME BOARD */

/* PLAYER BOARD TO KEEP TRACK OF THE SCORE AND CARDS */
.playerboard {
    background-color: rgb(142, 190, 157);
    width: 100%;
    height: 7em;
    display: none; /* originally flex */
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    font-size: 60px;
}

/* CARDS FOR EACH PLAYER */
#container1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid black;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(220, 141, 141);
    width: 17em;
  }

  .card1-player1,
  .card2-player1,
  .card3-player1,
  .card4-player1,
  .card5-player1 {
    width: 13%;
    height: 20%;
  }

  .card1-player2,
  .card2-player2,
  .card3-player2,
  .card4-player2,
  .card5-player2 {
    width: 13%;
    height: 20%;
  }

  .card1-player3,
  .card2-player3,
  .card3-player3,
  .card4-player3,
  .card5-player3 {
    width: 13%;
    height: 20%;
  }

  .card1-player4,
  .card2-player4,
  .card3-player4,
  .card4-player4,
  .card5-player4 {
    width: 13%;
    height: 20%;
  }
  
/* THE ACTUAL GAME BOARD WHERE PLAYERS WILL PLAY */
.board {
    background-color: rgb(167, 142, 190);
    width: 100%;
    height: 48em;
    display: none;
}

.gameboard {
    background-color: rgb(238, 167, 167);
    width: 90%;
    height: 55em;
    margin-left: 5%;
    /* margin-top: 2em; */
    padding-top: 6%;
}

#dice {
    width: 7em;
    height: 6em;
}

.diceRes {
    background-color: aqua;
    width: 5em;
    height: 5em;
}

.pb1,
.pb2,
.pb3 {
    padding-left: 1em;
    padding-top: 0.3em;
}

/* REMOVED but im keeping it just in case */
/* .cardStuff {
    /* padding-top: 13.8%;
    position: absolute;
}

.cardDisplay {
    width: 10em;
    height: 15em;
    background-color: rgb(221, 145, 216);
    display: none;
}

.card1 {
    background-color: rgb(129, 129, 188);
    display: none;
}

.card2 {
    background-color: rgb(132, 188, 129);
    display: none;
}

.card3 {
    background-color: rgb(188, 155, 129);
    display: none;
}

#cardDeck {
    width: 15em;
    height: 25em;
} */

/* GAME SPACES/SPOTS */
.pathway {
    display: flex;
}

#spot {
    background-color: rgb(229, 192, 192);
    width: 5em;
    height: 5em;
    border: 1px solid black;
}

#spot2 {
    background-color: rgb(192, 199, 229);
    width: 5em;
    height: 5em;
    border: 1px solid black;
}

.row1 {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 10%;
    margin-top: 25%;
}

.row2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* margin-left: 1%; */
    margin-top: 19.35%;
}

.startSpot {
    background-color: red;
    width: 5em;
    height: 5em;
    border: 1px solid black;
}


/* PLAYER STUFF */
.player1 {
    background-color: rgb(128, 73, 238);
    width: 3em;
    height: 3em;
    position: absolute;
}


/* TEXT CONTENT */
.textContent {
    /* background-color: rgb(255, 205, 205); */
    width: 80%;
    font-size: 19px;
    margin: 5% 0;
    margin-left: 10%;
}

.faqContent {
    margin-bottom: 10em;
}

li {
    margin: 2%;
}


/* TESTS */
.test {
    width: 50px;
    height: 50px;
    background-color: rgb(212, 139, 139);
}

.test:hover {
    background-color: rgb(148, 111, 111);
}

.test2 {
    width: 50px;
    height: 50px;
    background-color: rgb(136, 153, 210);
}

.test2:hover {
    background-color: rgb(111, 118, 148);
}

/* .test3 {
    background-color: aqua;
    width: 50px;
    height: 50px;
} */